<div appClickOutside (clickOutside)="closePopup()" [@slideAnimation]="slideIn ? 'inside' : 'outside'"
    class="contact-slider">
    <div class="slider-header-container">
        <img src="../../../assets/img/join_logo.svg" alt="">

        @if (contactService.slideInMode == 'add') {
        <h1 id="window-headline" class="no-margin clr-white">Add contact</h1>
        }@else {
        <h1 id="window-headline" class="no-margin clr-white">Edit contact</h1>
        }

        @if (contactService.slideInMode == 'add') {
        <div id="window-claim" class="add-claim">Tasks are better with a team!</div>
        }

        <div class="separator-across-lightblue"></div>
    </div>
    <div class="contact-input-container">
        <div class="cancel-x" (click)="closePopup()"><img src="../../../assets/img/cancel.svg" alt=""></div>


        @if (contactService.slideInMode == 'add') {
        <div id="contact-badge" class="contact-badge">
            <img src="../../../assets/img/person.svg" alt="">
        </div>
        }@else {
        <div id="contact-badge" class="contact-badge" [ngStyle]="{'background-color': contact.badgecolor}">
            {{contact.initials}}
        </div>
        }


        <form id="addContact-form" class="input-form-container" (ngSubmit)="formSubmitted(contactform)"
            #contactform="ngForm">
            <div class="inputfields">
                <label id="input-name-label">
                    <input #name="ngModel" name="name" [(ngModel)]="preparedcontact.name" class="contact-inputField"
                        type="text" id="contact-input-name" placeholder="Name" required>
                    <div class="login-error"
                        [ngClass]="{'full-opacity': name.invalid && name.touched || (name.invalid && contactform.submitted)}">
                        <p>This field is required. Please enter a name</p>
                    </div>

                </label>

                <label id="input-email-label">
                    <input #email="ngModel" name="email" [(ngModel)]="preparedcontact.email" class="contact-inputField"
                        type="email" id="contact-input-email" placeholder="Email" required
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}">
                    <div class="login-error"
                        [ngClass]="{'full-opacity': email.invalid && email.touched || (email.invalid && contactform.submitted)}">
                        <p>This field is required. Please enter a email address</p>
                    </div>
                </label>


                <label id="input-phone-label">
                    <input #phone="ngModel" name="phone" [(ngModel)]="preparedcontact.phone" class="contact-inputField"
                        type="tel" id="contact-input-phone" placeholder="Phone" required pattern="[+0-9\s]{4,}">
                    <div class="login-error"
                        [ngClass]="{'full-opacity': phone.invalid && phone.touched || (phone.invalid && contactform.submitted)}">
                        <p>This field is required. Please enter a phone number</p>
                    </div>
                </label>


            </div>
            <div id="buttons-container" class="cancel-create-buttons-container">
                @if (contactService.slideInMode == 'add') {
                <button (click)="closePopup(); contactform.reset()" [ngClass]="{'d-none': mobile}"
                    class="btn-white btn-pos" type="reset">Cancel <img src="../../../assets/img/cancel.svg"
                        alt=""></button>
                <button [disabled]="contactform.invalid" [ngClass]="{'form-validate': !contactform.invalid}"
                    id="createContactBtn" type="submit" class="btn-grey img-white btn-pos">
                    Create contact<img src="../../../assets/img/checked.svg"></button>
                }@else {
                <button class="btn-white btn-pos"
                    (click)="sessionService.deleteContact(preparedcontact); sessionService.showOtherContact()">Delete</button>
                <button [disabled]="contactform.invalid" [ngClass]="{'form-validate': !contactform.invalid}"
                    id="createContactBtn" type="submit" class="btn-grey img-white btn-pos">
                    Save<img src="../../../assets/img/checked.svg"></button>
                }



            </div>
        </form>
    </div>
</div>