@import '../../../colors.scss';


:host {
    margin: 48px 40px;
}

.popup-card-container {
    min-width: min(400px, 100%);
    width: min-content;
    max-height: 100vh;
    // max-height: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 0;
    overflow-x: auto;
    z-index: 100;
    overflow-y: auto;
}


.detail-card-category {
    font-size: 23px;
    margin: 0;
}

.detail-card-title {
    font-size: 61px;
    font-weight: 700;
}

.detail-card-description {
    margin-top: 0;
    color: black;
    font-size: 20px;
}

.detail-card-line {
    display: flex;
    align-items: center;
}

.detail-card-line-label {
    width: 117px;
}

.detail-card-line-info {
    display: flex;
    align-items: center;
}

.detail-card-line-info svg {
    margin-left: 10px;
}

.details-badge-container {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.details-profile-badge {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff7a00;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 12px;
    margin: 7px 16px;
}

.detail-card-subtask-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detail-card-subtask {
    display: flex;
    align-items: center;
    padding-block: 6px;
    margin: 0;
    padding-left: 16px;
}

.detail-card-subtask p {
    margin: 0;
}

.detail-card-footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.detail-card-footer-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
}

.detail-card-footer-btn:hover,
.detail-card-footer-btn:hover>svg path {
    color: $clr-light-blue;
    fill: $clr-light-blue;
}

.detail-card-footer-btn svg {
    pointer-events: none;
}

.board-task-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-task-detail-close {
    cursor: pointer;
}

.board-task-category {
    background-color: $clr-task-userstory;
    width: fit-content;
    color: white;
    padding: 4px 16px;
    border-radius: 8px;
    margin: 0 0 24px 0;
}

.board-task-title.detail-card-title {
    font-size: 48px;
}

.board-task-description:not(.detail-card-description) {
    font-size: 16px;
    font-weight: 400;
    color: $clr-font-light-grey;
    margin-bottom: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.board-task-footer {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: auto;
}

.board-task-profile-badge-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 16px;
}

.board-task-profile-badge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ff7a00;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 10px;
    margin-left: -16px;
}

.detail-card-line {
    display: flex;
    align-items: center;
}

.detail-card-line-label {
    width: 117px;
}

.detail-card-line-info {
    display: flex;
    align-items: center;
}

.detail-card-line-info svg {
    margin-left: 10px;
}

.addTask-checkbox {
    width: 18px;
    height: 19px;
    margin-right: 16px;
    cursor: pointer;
}